<?xml version="1.0"  encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.management.mapper.CommunityMapper">
<!--
    int insertCommunity(Community community);
    int deleteCommunity(Integer id);
    int undo(Integer id);
    int updateCommunity(Community community);
    Community getCommunityByName(String name);
    List<Community> getAllCommunity();
-->
    <insert id="insertCommunity" parameterType="com.example.management.entity.Community">
        insert into community (`name`,logo,intro) values (#{name},#{logo},#{intro})
    </insert>
    <update id="deleteCommunity" parameterType="Integer">
        update community set is_deleted = 0 where id=#{id}
    </update>
    <update id="undo" parameterType="Integer">
        update community set is_deleted =1 where id=#{id}
    </update>
    <update id="updateCommunity" parameterType="com.example.management.entity.Community">
        update community set `name`=#{name}, logo=#{logo},intro =#{intro} where id=#{id} and is_deleted!=0
    </update>
    <select id="getCommunityByName" resultType="com.example.management.entity.Community">
    select * from community where `name`=#{name} and is_deleted!=0
    </select>
    <!--  模糊查询？  -->
    <select id="getAllCommunity" resultType="com.example.management.entity.Community">
    select * from community where is_deleted!=0
    </select>

</mapper>